---

- name: Setup kubeconfig for ubuntu user
  command: "{{ item }}"
  with_items:
   - mkdir -p /home/ubuntu/.kube
   - cp -i /etc/kubernetes/admin.conf /home/ubuntu/.kube/config
   - chown ubuntu:ubuntu /home/ubuntu/.kube/config
